.profile-page {
  margin: auto;
  align-items: center;
  width: 1000px;
}

.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  background-color: rgba(0, 106, 228, 0.8);
  padding: 0.7rem;
  color: #fff;
}

.nav {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.nav button {
  padding: 0.7rem 2rem;
  border-radius: 4px;
}
.nav > button:not(:last-child) {
  margin-right: 2rem;
}
.nav button.active {
  background-color: rgb(0, 106, 228);
}
.nav button.active > h2 {
  color: white;
}
button.logout {
  margin-left: 500px;
  line-height: 40px;
  padding: 0 22px;
  font-size: 16px;
  color: rgb(0, 106, 228);
  background-color: #fff;
  border-width: 5px;
  border-radius: 6px;
  border-color: rgb(0, 106, 228);
}
